{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
  <main class="tag-detail">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
          <button class="button">Create</button>
      </div>
  </form>
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
    </div>
    <h2> Recipes for {{ mealplan.name }} on {{ mealplan.date }} </h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
