{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Scrumptious</a>
                </li>
                <li>
                    <a href="{% url 'tags_list' %}">Tags</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'recipe_new' %}">Write a recipe</a>
                </li>
                <li>
                  {% if user.is_authenticated %}
                    <a href="{% url 'meal_plans' %}">Meal Plans</a>
                  {% else %}
                    <a href="{% url 'login' %}"></a>
                  {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                      <a href="{% url 'meal_plans_new' %}">Create Meal Plan</a>
                    {% else %}
                      <a href="{% url 'login' %}"></a>
                    {% endif %}
                  </li>
                  <li></li>
                  <li>
                    <a href="{% url 'shopping_item_list' %}">
                      Shopping List ({{ user.shopping_items.all|length }})
                    </a>
                  </li>
                {% if user.is_authenticated %}
                <li></li<>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        {% block pagination %}
        {% endblock pagination %}
    </footer>
</body>

</html>